<footer>
  <p>Bogdan Myakin
  <%= current_year %>
  <%= github_url('layvblessn','testguru', 'TestGuru') %>

  <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 
              'https://thinknetica.com', 
              target: '_blank' %>
  </p>
</footer>
