<center>

  <h1>Test info</h1>
  <li>Title: <%= @test.title %></li>
  <li>Level: <%= @test.level %></li>
  <li>Tag: <%= @test.category.body %></li>
  <li>Author: <%= @test.author.name %></li>
</center>