<center>

  <h1>Edit <%= question_header(@question) %> Question</h2>

    <%= render 'form', button_name: 'Edit' %>
    <%= link_to 'Back', 
            question_path(@question), 
            action: :show, 
            id: @question.id  %>

</center>
