<tr>
  <td><%= link_to gist.question.title.truncate(25), admin_question_path(gist.question) %></td>
  <td><%= link_to 'Gist link', gist.url, target: :_blank %></td>
  <td><%= gist.creator.email %></td>
</tr>