<h1 >All gists</h1>
    <table border='1'>
      <tr>
        <th>Question</th>
        <th>URL</th>
        <th>Creator</th>
      </tr>
      <%= render @gists%>
    </table>
<%= link_to 'Main Menu', admin_tests_path%>

