<center>
  <h1 >Tests</h1>
    <table>
      <tr>
        <th class="sort-by-title pointer">
        Title
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
        </th>
        <th>Author</th>
        <th></th>
      </tr>
      <%= render @tests%>
    </table>

    <h2><%= link_to 'Create new Test', new_admin_test_path %></h2>
</center>
